realm: internal
realm_name: IAM Management Users
base_url: http://localhost:8081/internal/internal

flows:
  admin_userid_password:
    name: Admin UserID Password
    route: /admin-userid-password
    active: yes
    definition_location: admin_userid_password.yaml

applications:
  management-ui:
    client_secret: secret
    confidential: false
    consent_required: false
    description: Management UI Application
    allowed_scopes:
      - openid
      - profile
      - write:user
      - write:flows
      - write:realms
      - write:applications
    allowed_grants:
      - authorization_code_pkce
    redirect_uris:
      - http://localhost:3000
    allowed_authentication_flows:
      - admin_userid_password
    access_token_lifetime: 600
    refresh_token_lifetime: 3600
    id_token_lifetime: 600
    access_token_type: session
    