{{ define "content" }}
<form method="POST" class="login-form" action="{{ .LoginUri}}">
  <h2>{{index .CustomConfig "title"}}</h2>
  <p>{{index .CustomConfig "message"}}</p>

  <div class="input-group">
    <input type="hidden" name="step" value="{{ .NodeName }}">
    <label for="email">Email</label>
    <input type="email"  name="email" id="email" placeholder="" required />
    <label for="password">Password</label>
    <input type="password"  name="password" id="password" placeholder="" required />
  </div>
  <button type="submit">Login</button>
  
</form>
{{ end }}