{{ define "content" }}
<form method="POST" class="login-form" action="{{ .LoginUri}}">
  <div class="input-group">
    <input type="hidden" name="step" value="{{ .NodeName }}">
    <input type="hidden" name="totpSecret" value="{{ .Prompts.totpSecret }}">
    <img src="data:{{ .Prompts.totpImageUrl }}" alt="TOTP QR Code {{ .Prompts.totpSecret }}" />
    <label for="totpVerification">6-digit code</label>
    <input type="text" name="totpVerification" id="totpVerification" placeholder="TOTP Code" required />
  </div>
  <button type="submit">Validate</button>
</form>
{{ end }}