{{ define "content" }}


<h2>{{index .CustomConfig "title"}}</h2>
<p>Enter the code sent to <b>{{index .Prompts "email"}}</b></p>


<form method="POST" class="login-form" action="{{ .LoginUri}}" id="otpForm">
  
  <div class="input-group">
    <input 
      type="text" 
      name="otp" 
      id="otp" 
      class="otp-input" 
      pattern="[0-9]{6}" 
      inputmode="numeric" 
      maxlength="6" 
      placeholder="Enter 6-digit code" 
      required 
    />
  </div>

  <button type="submit">Login</button>
</form>

<p>{{index .State.Context "message"}}</p>

<form method="POST" class="login-form" action="{{ .LoginUri}}" id="otpForm">
  <input type="hidden" name="option" value="resend">

  {{ if eq (index .Prompts "resend_in_seconds") "0" }}
  <button type="submit" class="btn btn-minor">Resend</button>
  {{ else }}
  <button type="submit" id="resend-otp-button" class="btn btn-minor" data-resend-in-seconds="{{index .Prompts "resend_in_seconds"}}" disabled>Resend in (%d)</button>
  {{ end }}

</form>
{{ end }}
