{{ define "content" }}
<!-- Custom Message -->
<div class="message-container" id="message-container" style="display: none;">
    <div class="message" id="message-content"></div>
</div>

<!-- Error Message -->
<div class="error-container" id="error-container" style="display: none;">
    <div class="error" id="error-content"></div>
</div>

<!-- Login Form -->
    <h2>{{index .CustomConfig "title"}}</h2>
    <p class="form-subtitle">{{index .CustomConfig "message"}}</p>
    
    <form method="POST" class="login-form" action="{{ .LoginUri}}">
        <input type="hidden" name="option" value="password">
        
        {{ if eq .CustomConfig.useEmail "true" }}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" autocomplete="username webauthn" required>
        </div>
        {{ end }}

        {{ if eq .CustomConfig.useUsername "true" }}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="username webauthn" required>
        </div>
        {{ end }}
        
        {{ if eq .CustomConfig.usePassword "true" }}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="password webauthn" required>
        </div>
        {{ end }}

        {{ if index .CustomConfig "showForgotPassword" }}
            <a href="#" class="forgot-password" id="forgot-password-link">Forgot password?</a>
        {{ end }}
        
        {{ if not (eq .CustomConfig.disableSubmit "true") }}
        <button type="submit" class="btn btn-primary">{{or (index .CustomConfig "submit-btn-text") "Sign In"}}</button>
        {{ end }}

    </form>

    {{ if index .CustomConfig "showForgotPassword" }}
    <form method="POST" id="forgotPasswordForm" class="login-form" action="{{ .LoginUri}}">
        <input type="hidden" name="option" value="forgot-password">
    </form>
    {{ end }}

    <!-- Hidded Form for Passkey Discovery Login -->
    {{ if eq .CustomConfig.usePasskeys "true" }}
    <form method="POST" id="passkey-form" action="{{ .LoginUri}}">
        <input type="hidden" name="option" value="passkey">
        <input type="hidden" id="passkeysFinishLoginJson" name="passkeysFinishLoginJson">
    </form>
    {{ end }}
    
    <!-- Passkey Option -->
    {{ if eq .CustomConfig.usePasskeys "true"}}
    <div class="passkey-option">
        <form method="POST" class="login-form" action="{{ .LoginUri}}">
            <input type="hidden" name="option" value="passkey">
            <input type="hidden" id="passkeysLoginOptions" value='{{ .Prompts.passkeysLoginOptions }}'>
       
            {{if not (eq .CustomConfig.disablePasskeyBtn "true")}}
            <button type="submit" class="btn btn-passkey" id="passkey-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path>
                </svg>
                {{or (index .CustomConfig "passkey-btn-text") "Sign in with passkey"}}
            </button>
            {{ end }}
        </form>
    </div>
    {{ end }}


    {{ if index .CustomConfig "showRegistrationLink" }}
    <!-- Register Option -->
    <form method="POST" id="registerForm" class="login-form" action="{{ .LoginUri}}">
        <button type="submit" class="btn btn-primary">{{or (index .CustomConfig "register-btn-text") "Register"}}</button>
        <input type="hidden" name="option" value="register">
    </form>
    {{ end }}

    {{ if and (or (index .CustomConfig "social1") (index .CustomConfig "social2") (index .CustomConfig "social3")) (not (eq .CustomConfig.disableDivider "true"))}}
    <div class="divider">
        <span>{{or (index .CustomConfig "or-continue-with-text") "or continue with"}}</span>
    </div>
    {{ end }}
    
    <div class="social-login">

        {{ if index .CustomConfig "social1" }}
        <form method="POST" class="login-form" action="{{ .LoginUri}}">
            <input type="hidden" name="option" value="social1">
            <!-- If the value of social1 is github we show the github login button -->
            {{ template "socialLoginBtn" (index .CustomConfig "social1") }}
        </form>
        {{ end }}

        {{ if index .CustomConfig "social2" }}
        <form method="POST" class="login-form" action="{{ .LoginUri}}">
            <input type="hidden" name="option" value="social2">

            <!-- If the value of social2 is github we show the github login button -->
            {{ if eq .CustomConfig.social2 "github" }}
                {{ template "loginWithGitHub" . }}
            {{ else if eq .CustomConfig.social2 "google" }}
                {{ template "loginWithGoogle" . }}
            {{ else }}
                <button type="submit" class="btn btn-social">{{ index .CustomConfig "social2" }}</button>
            {{ end }}
        </form>
        {{ end }}

        {{ if index .CustomConfig "social3" }}
        <form method="POST" class="login-form" action="{{ .LoginUri}}">
            <input type="hidden" name="option" value="social3">

            <!-- If the value of social2 is github we show the github login button -->
            {{ if eq .CustomConfig.social3 "github" }}
                {{ template "loginWithGitHub" . }}
            {{ else if eq .CustomConfig.social3 "google" }}
                {{ template "loginWithGoogle" . }}
            {{ else }}
                <button type="submit" class="btn btn-social">{{ index .CustomConfig "social3" }}</button>
            {{ end }}
        </form>
        {{ end }}

    </div>
</form>
{{ end }}