{{ define "content" }}
<form method="POST" class="login-form" action="{{ .LoginUri}}">
  <div class="input-group">
    <input type="hidden" name="step" value="{{ .NodeName }}">
    <label for="yubikeyOtpVerification">{{or (index .CustomConfig "label") "Yubikey OTP Code"}}</label>
    <input type="text" name="yubikeyOtpVerification" id="yubikeyOtpVerification" placeholder="Yubikey OTP Code" required />
  </div>
  <button type="submit">{{or (index .CustomConfig "button_text") "Validate"}}</button>
</form>
{{ end }}