{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ .AssetsCSSPath }}"> <!-- Global CSS -->
  <script defer src="{{ .AssetsJSPath }}" nonce="{{ .CspNonce }}"></script> <!-- Global JS -->

  <link rel="stylesheet" href="{{ .StylePath }}"> <!-- Realm specific CSS takes precedence -->
</head>
<body>
  
  
  <div class="main-content" data-node="{{ .Node.Use }}">
    <div class="login-container">

        {{ if .Error }}
        <div class="error" style="color: red; font-weight: bold;">
          {{ .Error }}
        </div>
        {{ end }}
        {{ template "content" . }}
      </div>
</div>

  {{ if .Debug }}
  <div class="debug">
    <hr><h3>Debug State</h3>
    <pre>{{ .StateJSON }}</pre>

    <svg width="1000" height="666">
      <image xlink:href="/{{ .Tenant }}/{{ .Realm }}/debug/{{ .FlowPath }}/graph.svg" src="/{{ .Tenant }}/{{ .Realm }}/debug/{{ .FlowPath }}/graph.svg" width="100%" height="100%" />
    </svg>
  </div>
  {{ end }}
</body>
</html>
{{ end }}