{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ .AssetsCSSPath }}"> <!-- Global CSS -->
  <script defer src="{{ .AssetsJSPath }}" nonce="{{ .CspNonce }}"></script> <!-- Global JS -->

  <link rel="stylesheet" href="{{ .StylePath }}"> <!-- Realm specific CSS takes precedence -->
</head>
<body>
  
  
  <div class="main-content" data-node="{{ .Node.Use }}">
    <div class="login-container">

        {{ if .Error }}
        <div class="error" style="color: red; font-weight: bold;">
          {{ .Error }}
        </div>
        {{ end }}
        {{ template "content" . }}
      </div>
</div>
  {{ template "debug" . }}
</body>
</html>
{{ end }}