{{ define "layout" }}
<!DOCTYPE html>
<html>
<!-- GoAM -->

<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ .AssetsCSSPath }}"> <!-- Global CSS -->
  <script defer src="{{ .AssetsJSPath }}" nonce="{{ .CspNonce }}"></script> <!-- Global JS -->
  <link rel="stylesheet" href="{{ .StylePath }}"> <!-- Realm specific CSS takes precedence -->
</head>

<body>

  <div class="main-content" data-node="{{ if .Node }}{{ .Node.Use }}{{ end }}" data-loginuri="{{ .LoginUri }}">
    <div class="login-container">
      {{ template "content" . }}
    </div>
  </div>
  
  {{ template "debug" . }}
</body>

</html>
{{ end }}